{% extends "template.twig" %}

{% block pagecontent %}

    <!-- Page Content -->
    {% if authform %}

        {% include "auth.twig" %}

    {% endif %}

    <div class="py-2 text-center border-top border-bottom bg-light">
        <h1 class="display-6 mb-3">Místo pro&nbsp;sdílení studijních materiálů</h1>
        <div>
            <p class="h4">
                {{ materialsCount }} materiálů, {{ subjectsCount }} předmětů
            </p>
        </div>
    </div>

    <div class="row my-4">
        <div class="col-md-6 mb-4 mb-md-0">
            <div class="d-flex flex-column align-items-center">
                <p class="text-center">
                    Chci <strong>sdílet</strong> své&nbsp;materiály se studenty...
                </p>
                <a href='{{ (loggedIn) ? ".?page=admin" : ".?page=home&authform=login" }}' type="button" class="btn btn-success btn-lg pill">
                    <span class="fa fa-share-alt" aria-hidden="true"></span>
                    Sdílet materiály
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex flex-column align-items-center">
                <div class="mb-4">
                    <form id="searchForm">
                        <label for="searchInput" class="form-label mb-3">
                            Chci <strong>vyhledat</strong> materiály, předměty, učitele...
                        </label>
                        <div class="input-group input-group-lg pill">
                            <input id="searchInput" name="q" type="text" class="form-control"
                                   placeholder="klíčové slovo" aria-label="klíčové slovo"
                                   aria-describedby="searchButton" autofocus>
                            <button id="searchButton" class="btn btn-primary" type="submit">
                                <span class="fa fa-search" aria-hidden="true"></span>
                                Vyhledat
                            </button>
                        </div>
                    </form>
                </div>
                <div class="d-flex flex-column">
                    <label for="searchInput" class="form-label mb-3">
                        Chci <strong>vyhledávat</strong> manuálně...
                    </label>
                    <a href=".?page=search">
                        <button type="button" class="btn btn-primary btn-lg pill">
                            <span class="fa fa-search" aria-hidden="true"></span>
                            Hledat manuálně
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="./js/home.js"></script>

{% endblock %}
