{% extends "template.twig" %}

{% block pagecontent %}

    <div class="p-2 border-top border-bottom bg-light">
        <h1 class="h2 mb-0">
            <span class="fa fa-info" aria-hidden="true"></span>
            Informace o aplikaci
        </h1>
    </div>
    <div class="my-3">
        <p>Aplikace vznikla jako semestrální práce k předmětu KIV/WEB na ZČU v Plzni.</p>
        <h2 class="h4">
            <span class="fa fa-user" aria-hidden="true"></span>
            Autor
        </h2>
        <ul class="list-unstyled">
            <li>Stanislav Kafara</li>
            <li><a href="mailto:skafara@students.zcu.cz">skafara@students.zcu.cz</a></li>
        </ul>
        <h2 class="h4">
            <span class="fa fa-list" aria-hidden="true"></span>
            Popis
        </h2>
        <p>Aplikace umožňuje prohlížet univerzitní studijní materiály a studentům a vyučujícím přidávat a odstraňovat studijní materiály.</p>
    </div>

{% endblock %}
