<!DOCTYPE html>
<html lang="cs" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Univerzitní databáze materiálů</title>

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap: CSS -->
    <link rel="stylesheet" href="./vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
    <!-- Bootstrap: JavaScript Bundle with Popper -->
    <script src="./vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Font Awesome: v4.7.0 -->
    <link rel="stylesheet" href="./vendor/fortawesome/font-awesome/css/font-awesome.min.css">

    <style>
        .pill { /* TODO */
            width: 320px;
        }
    </style>
</head>
<body class="h-100">

    <div class="d-flex flex-column justify-content-between h-100">
        <div> <!-- Header and Variable Page Content -->

            <!-- Header -->
            <header>
                <nav class="navbar navbar-expand-md sticky-top bg-light">
                    <div class="container">
                        <a class="navbar-brand" href=".">
                            <span class="fa fa-database" aria-hidden="true"></span>
                            UDM
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarContent" aria-controls="navbarContent"
                                aria-expanded="false" aria-label="Přepnout zobrazení navigace">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-md-0 text-center text-md-start">
                                <li class="nav-item">
                                    <a class="nav-link" href=".?page=info">
                                        <span class="fa fa-info" aria-hidden="true"></span>
                                        Info
                                    </a>
                                </li>
                                <li class="nav-item">
                                    {% if loggedIn %}
                                        <a class="nav-link" href=".?authaction=logout">
                                            <span class="fa fa-sign-out" aria-hidden="true"></span>
                                            Odhlásit se
                                        </a>
                                    {% else %}
                                        <a class="nav-link" href=".?authform=login">
                                            <span class="fa fa-sign-in" aria-hidden="true"></span>
                                            Přihlásit se
                                        </a>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

            <!-- Variable Page Content -->
            <div class="container my-4">

                {% block pagecontent %}
                {% endblock %}

            </div>

        </div> <!-- End Header and Variable Page Content -->

        <!-- Footer -->
        <footer class="mt-auto text-muted">
            <div class="container d-flex justify-content-between border-top py-4">
                <span class="me-2">Stanislav&nbsp;Kafara, 20.&nbsp;12.&nbsp;2022</span>
                <span class="ms-2 text-end">
                    <span class="fa fa-github" aria-hidden="true"></span>
                    <a class="text-muted" href="https://github.com/skafara/udm">
                        Semestrální&nbsp;práce, KIV/WEB
                    </a>
                </span>
            </div>
        </footer>

    </div>

    <script>
        window.onload = () => {
            if (document.getElementById("authForm")) {
                const authForm = new bootstrap.Modal("#authForm");
                authForm.show();
            }
        }
    </script>

</body>
</html>
